<!-- <h1 (keyup)="incre()">{{data}}</h1>
<h1>{{incre()}}</h1> -->
 <!-- <app-user  ></app-user> -->
<!-- <button (click)="update()">change</button>
<app-login></app-login> --> -->
<!-- <app-todolist></app-todolist> -->
<!-- <ul *ngFor="let user of userdetails">
<app-user [item]="user"></app-user>
</ul> -->
<!-- <app-childtoparent (updatedataEvent)="updatedata($event)"></app-childtoparent> -->


<!-- <input type="text" [(ngModel)]="name">
<h1>{{name}}</h1> -->
<!-- <input type="text" name="" #box>
<button (click)="updatedata(box.value)">convert</button>
<h1>{{data | usdinr}}</h1> -->
<!-- <h1>template driven form</h1> -->

<!-- <form #loginForm="ngForm" (ngSubmit)="login(loginForm.controls)">
    <input type="text" placeholder="enter name" ngModel><br>
    <input type="text" placeholder="enter password" ngModel><br>
    <button>submit</button>
</form> -->


<!-- <form  #loginForm="ngForm" (ngSubmit)="loginuser(loginForm.value)">
    <input type="text" required #name="ngModel" placeholder="enter name" name="user" pattern="[a-zA-Z]+$" ngModel ><br>
    <span *ngIf="name.invalid && name.touched" style="color:red;">please enter valid details</span><br>
    <input type="password" required #password="ngModel" placeholder="enter email" name="password" ngModel ><br>
    <span *ngIf="password.invalid && password.touched" style="color:red;">please enter valid details</span><br>
    <input type="email" required #email="ngModel" name="email" placeholder="enter password" ngModel ><br>
    <span *ngIf="email.invalid && email.touched" style="color:red;">please enter valid details</span><br>

</form>
<form #loginForm="ngForm" (ngSubmit)="loginuser(loginForm.value)">
    <input type="text"required #name="ngModel" name="user" placeholder="enter text" ngModel>
    <span *ngIf="name.invalid && name.touched">enter valid details</span> -->
<!-- </form> -->

<!-- <form [formGroup]="loginForm" (ngSubmit)="loginuser" >
    <input type="text" name="user" placeholder="enter text here" formControlName="user">
    <input type="password" name="password" placeholder="enter text here" formControlName="password">
</form> -->
<!-- <app-reactive-form></app-reactive-form> -->
<!--<a routerLink="Home">Home</a><br>
<a routerLink="user">user</a><br>
<a href="">todolist</a><br>

<router-outlet></router-outlet> -->
<!-- <app-template-form></app-template-form> -->
<app-todolist></app-todolist>
