<p>user works!</p>
<!-- <button (click)="getVal('incre')">incre</button>
<button (click)="getVal('decre')">decre</button>
<input type="text" name="username" #data  >
<h1>{{dis}}</h1> -->

<!-- <input type="text" name="username" [disabled]=disabled>
 <div [ngSwitch]="color">
    <div *ngSwitchCase="'red'">Red</div>
    <div *ngSwitchDefault>output2</div>
</div> -->


<!-- <h1 *ngFor="let item of userDetails">
    <li>{{item.name}}</li>
    <li>{{item.mob}}</li>
</h1> -->

<!-- <h1 *ngIf="display"> hello</h1>
<button (click)="toggle()">click</button> -->
<!-- <h1>{{item}}</h1> -->
<li>{{item.name}}</li>
<li>{{item.email}}</li>
